* {
margin: 0;
font-family: "Michroma", sans-serif;
font-style: normal;
}

body {
    background-color: black;
}
.quadrinho {
    width: 100%;
    height: 1080px;
    border: 0.3rem  solid white;
}
img {
    width: 100%;
    height: 100%;
}
.part1, .part2 {
    display: flex;
    flex-direction: row;
}
.img1,
.img2,
.img3,
.img4,
.img5,
.img6 {
border: 0.3rem solid white;
width: 640px;
height: 540px;
background-color: black;
background-position: center;
background-size: cover;
}
.img6 {
display: flex;
align-items: end;
justify-content: end;
}
button {
    margin-bottom: 25px;
    margin-right: 25px;
}
#proximo {
    display: none;
}

button {
    color: white;
    border: 10px solid red;
    background: none;
    width: 100px;
    height: 50px;
    margin-bottom: 25px;
    margin-right: 25px;
    cursor: pointer;
}
button:hover {
background: red;
color: black;
}